.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #15314E;
  color: white;

  .navbar {
      width: 100%;
      flex-direction: row !important;
  }

  .dashboard {
      display: flex;
      flex-wrap: wrap;
      width: auto;
  }
}